body {
    padding-top: 20px;
    padding-bottom: 40px;
}

a {
    text-decoration: none;
}

p {
    font-size: 15px;
    margin: 1px;
}

div.MenuItem {
    display: inline;
    padding: 2px;
    font-size: 150%;
    font-weight: bold;
}

div.AdminMenuItem {
    display: inline;
    padding: 2px;
    font-size: 150%;
    font-weight: bold;
    color: red;
}

div.transaction-add-profit {
    display: inline;
    padding: 2px;
    font-size: 150%;
    font-weight: bold;
    color: green;
}

div.transaction-add-expense {
    display: inline;
    padding: 2px;
    font-size: 150%;
    font-weight: bold;
    color: red;
}

div.transaction-add-links {
    width: 30%;
    border: 1px solid #209800;
    background-color: #d7edf9;
    padding: 8px;
    text-align: center;
}

div.transactions-box {
    border: 1px solid black;
}

div.transaction-form {
    width: 30%;
    border: 1px solid #209800;
    background-color: #d7edf9;
    padding: 8px;
}

div.question-box {
    width: 80%;
    border: 1px solid #209800;
    background-color: #d7edf9;
    padding: 8px;
}

div.UserInfo {
    border: 1px solid black;
    display: inline;
    padding: 2px;
    font-size: 120%;
}

div.FilterBox {
    width: 25%;
    border: 1px solid #209800;
    background-color: #def9d7;
    padding: 5px;
    font-size: 120%;
}

div.profit {
    font-weight: bold;
    color: green;
}

div.expense {
    font-weight: bold;
    color: red;
}

div.category-header {
    font-weight: bold;
    text-align:center;
    font-size: 120%;
}

div.AddCategoryBox {
    width: 40%;
    border: 1px solid #209800;
    background-color: #def9d7;
    padding: 5px;
    font-size: 120%;
}

div.CategoryListContainer {
    width: 80%;
}